<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AcaoUsuario</servlet-name>
        <servlet-class>control.AcaoUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidaLogin</servlet-name>
        <servlet-class>control.ValidaLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcaoRemedio</servlet-name>
        <servlet-class>control.AcaoRemedio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>remedio</servlet-name>
        <servlet-class>control.remedio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcaoComentario</servlet-name>
        <servlet-class>control.AcaoComentario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcaoAnuncio</servlet-name>
        <servlet-class>control.AcaoAnuncio</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AcaoUsuario</servlet-name>
        <url-pattern>/AcaoUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidaLogin</servlet-name>
        <url-pattern>/ValidaLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcaoRemedio</servlet-name>
        <url-pattern>/AcaoRemedio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>remedio</servlet-name>
        <url-pattern>/remedio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcaoComentario</servlet-name>
        <url-pattern>/AcaoComentario</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>control.Controller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcaoAnuncio</servlet-name>
        <url-pattern>/AcaoAnuncio</url-pattern>
    </servlet-mapping> 
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
